<a href="https://colab.research.google.com/github/josh-hdz/machine_learning/blob/otraRamita2/Copia_de_linear_regresion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SETUP**

Installs required packages when needed.

In [ ]:
import sys
import subprocess
import pkg_resources

required = {'pandas', 'sklearn', 'numpy'}
installed = {pkg.key for pkg in pkg_resources.working_set}
missing = required - installed

if missing:
    python = sys.executable
    subprocess.check_call([python, '-m', 'pip', 'install', *missing], stdout=subprocess.DEVNULL)

Import needed libreries

In [ ]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
pd.options.mode.chained_assignment = None

Fetch data and check order and state.

In [ ]:
data_set = pd.read_csv('/content/data.csv')

In [ ]:
data_set.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [ ]:
data_set.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest    16884.924
1   18    male  33.770         1     no  southeast    1725.5523
2   28    male  33.000         3     no  southeast     4449.462
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest    3866.8552

In [ ]:
data_set.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

# **Data transformation**

In [ ]:
data_set["sex"].replace(['male', 'female'], [0, 1], inplace=True)
data_set.head()

   age  sex     bmi  children smoker     region      charges
0   19    1  27.900         0    yes  southwest    16884.924
1   18    0  33.770         1     no  southeast    1725.5523
2   28    0  33.000         3     no  southeast     4449.462
3   33    0  22.705         0     no  northwest  21984.47061
4   32    0  28.880         0     no  northwest    3866.8552

In [ ]:
data_set['region'] = data_set['region'].replace('southwes', 'southwest')
data_set['charges'][1337] = 29141.3603
cols = ['smoker', 'region']
new_data_set = pd.get_dummies(data_set, columns=cols, drop_first=True)
new_data_set.head()

,age,sex,bmi,children,charges,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,1,27.900,0,16884.924,1,0,0,1
1,18,0,33.770,1,1725.5523,0,0,1,0
2,28,0,33.000,3,4449.462,0,0,1,0
3,33,0,22.705,0,21984.47061,0,1,0,0
4,32,0,28.880,0,3866.8552,0,1,0,0

In [ ]:
data_set.describe()

               age          sex          bmi     children
count  1338.000000  1338.000000  1338.000000  1338.000000
mean     39.207025     0.494768    30.663397     1.094918
std      14.049960     0.500160     6.098187     1.205493
min      18.000000     0.000000    15.960000     0.000000
25%      27.000000     0.000000    26.296250     0.000000
50%      39.000000     0.000000    30.400000     1.000000
75%      51.000000     1.000000    34.693750     2.000000
max      64.000000     1.000000    53.130000     5.000000

Data set for model
Using the age, bmi, smoker_yes columns

In [ ]:
X_smoker = new_data_set[['age', 'bmi', 'smoker_yes']]
y_smoker = new_data_set['charges']

Data set for model
Using the age, bmi, region southwest columns

In [ ]:
X_region = new_data_set[['age', 'bmi', 'region_southwest']]
y_region = new_data_set['charges']

# **Create smoker train and test data sets**

In [ ]:
X_train_s, X_test_s, y_train_s, y_test_s = train_test_split(X_smoker, y_smoker, test_size = 0.2, random_state=30)

# **Create region train and test data sets**

In [ ]:
X_train_r, X_test_r, y_train_r, y_test_r = train_test_split(X_region, y_region, test_size = 0.2, random_state=30)

# **Creating the region and smoker model**

In [ ]:
model_smoker = LinearRegression()
model_region = LinearRegression()

We fit the data from our two models

In [ ]:
model_smoker.fit(X_train_s, y_train_s)
model_region.fit(X_train_r, y_train_r)

LinearRegression()

# **Results**

Calculate error between the smoker model and the actual values

In [ ]:
model_smoker.score(X_test_s, y_test_s)

0.7528954397562011

Display w0

In [ ]:
model_smoker.intercept_

-11053.321819795305

Coefficients w1, w2, and w3

In [ ]:
model_smoker.coef_

array([  253.13625045,   313.1237321 , 24015.66671451])

**Calculate error between the region model and the actual values**

In [ ]:
model_region.score(X_test_r, y_test_r)

0.0814558441624067

Display w0

In [ ]:
model_region.intercept_

-6580.206095000862

Coefficients w1, w2, and w3

In [ ]:
model_region.coef_

array([  242.89158637,   355.75083809, -2347.99881876])

# Classification Scores

## Region

We used the same data that has been used previously in the region linear regresion's.

In [ ]:
clf = Perceptron(tol=1e-3, random_state=None).fit(X_train_r, y_train_r)
y_training = clf.predict(X_train_r)
y_test = clf.predict(X_test_r)

print("Classification score training: ", clf.score(X_train_r, y_train_r))
print("Classification score test: ", clf.score(X_test_r, y_test))

Classification score training:  0.0009345794392523365
Classification score test:  1.0

## Smokers

We used the same data that has been used previously in the smokers linear regresion's.

In [ ]:
clf = Perceptron(tol=1e-3, random_state=None).fit(X_train_s, y_train_s)
y_training = clf.predict(X_train_s)
y_test = clf.predict(X_test_s)

print("Classification score training: ", clf.score(X_train_s, y_train_s))
print("Classification score test: ", clf.score(X_test_s, y_test))

Classification score training:  0.001869158878504673
Classification score test:  1.0