<a href="https://colab.research.google.com/github/josh-hdz/machine_learning/blob/model-setup/linear_regresion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SETUP**

Installs required packages when needed.

In [26]:
import sys
import subprocess
import pkg_resources

required = {'pandas', 'sklearn', 'numpy'}
installed = {pkg.key for pkg in pkg_resources.working_set}
missing = required - installed

if missing:
    python = sys.executable
    subprocess.check_call([python, '-m', 'pip', 'install', *missing], stdout=subprocess.DEVNULL)

Import needed libreries

In [27]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

Fetch data and check order and state.

In [28]:
data_set = pd.read_csv('/content/data.csv')
data_set.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest    16884.924
1   18    male  33.770         1     no  southeast    1725.5523
2   28    male  33.000         3     no  southeast     4449.462
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest    3866.8552

In [29]:
data_set.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

# **Data transformation**

In [30]:
data_set['region'] = data_set['region'].replace('southwes', 'southwest')
cols = ['sex', 'smoker', 'region']
new_data_set = pd.get_dummies(data_set, columns=cols, drop_first=True)
new_data_set.head()

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.924,0,1,0,0,1
1,18,33.770,1,1725.5523,1,0,0,1,0
2,28,33.000,3,4449.462,1,0,0,1,0
3,33,22.705,0,21984.47061,1,0,1,0,0
4,32,28.880,0,3866.8552,1,0,1,0,0

In [31]:
X = new_data_set[['age', 'bmi', 'smoker_yes']]
y = new_data_set['charges']