<a href="https://colab.research.google.com/github/josh-hdz/machine_learning/blob/model-setup/linear_regresion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SETUP**

Installs required packages when needed.

In [101]:
import sys
import subprocess
import pkg_resources

required = {'pandas', 'sklearn', 'numpy'}
installed = {pkg.key for pkg in pkg_resources.working_set}
missing = required - installed

if missing:
    python = sys.executable
    subprocess.check_call([python, '-m', 'pip', 'install', *missing], stdout=subprocess.DEVNULL)

Import needed libreries

In [102]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
pd.options.mode.chained_assignment = None

Fetch data and check order and state.

In [103]:
data_set = pd.read_csv('/content/data.csv')
data_set.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest    16884.924
1   18    male  33.770         1     no  southeast    1725.5523
2   28    male  33.000         3     no  southeast     4449.462
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest    3866.8552

In [104]:
data_set.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

# **Data transformation**

In [105]:
data_set['region'] = data_set['region'].replace('southwes', 'southwest')
data_set['charges'][1337] = 29141.3603
cols = ['smoker', 'region']
new_data_set = pd.get_dummies(data_set, columns=cols, drop_first=True)
new_data_set.head()

,age,sex,bmi,children,charges,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,female,27.900,0,16884.924,1,0,0,1
1,18,male,33.770,1,1725.5523,0,0,1,0
2,28,male,33.000,3,4449.462,0,0,1,0
3,33,male,22.705,0,21984.47061,0,1,0,0
4,32,male,28.880,0,3866.8552,0,1,0,0

Data set for model
Using the age, bmi, smoker_yes columns

In [106]:
X_smoker = new_data_set[['age', 'bmi', 'smoker_yes']]
y_smoker = new_data_set['charges']

Data set for model
Using the age, bmi, region southwest columns

In [107]:
X_region = new_data_set[['age', 'bmi', 'region_southwest']]
y_region = new_data_set['charges']

# **Create smoker train and test data sets**

In [108]:
X_train_s, X_test_s, y_train_s, y_test_s = train_test_split(X_smoker, y_smoker, test_size = 0.2)

# **Create region train and test data sets**

In [109]:
X_train_r, X_test_r, y_train_r, y_test_r = train_test_split(X_region, y_region, test_size = 0.2)

# **Creating the region and smoker model**

In [110]:
model_smoker = LinearRegression()
model_region = LinearRegression()

We fit the data from our two models

In [111]:
model_smoker.fit(X_train_s, y_train_s)
model_region.fit(X_train_r, y_train_r)

LinearRegression()

# **Results**

Calculate error between the smoker model and the actual values

In [112]:
model_smoker.score(X_test_s, y_test_s)

0.7208984117027866

Display w0

In [113]:
model_smoker.intercept_

-11254.79927510055

Coefficients w1, w2, and w3

In [114]:
model_smoker.coef_

array([  244.5694619 ,   322.65833457, 23973.72394064])

**Calculate error between the region model and the actual values**

In [115]:
model_region.score(X_test_r, y_test_r)

0.0820178338425348

Display w0

In [116]:
model_region.intercept_

-6088.299991796135

Coefficients w1, w2, and w3

In [117]:
model_region.coef_

array([  244.73428469,   330.10820618, -2272.43196521])