<a href="https://colab.research.google.com/github/josh-hdz/machine_learning/blob/model-setup/linear_regresion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SETUP**

Installs required packages when needed.

In [18]:
import sys
import subprocess
import pkg_resources

required = {'pandas', 'sklearn', 'numpy'}
installed = {pkg.key for pkg in pkg_resources.working_set}
missing = required - installed

if missing:
    python = sys.executable
    subprocess.check_call([python, '-m', 'pip', 'install', *missing], stdout=subprocess.DEVNULL)

Import needed libreries

In [19]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

Fetch data and check order and state.

In [20]:
data_set = pd.read_csv('/content/data.csv')
data_set.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest    16884.924
1   18    male  33.770         1     no  southeast    1725.5523
2   28    male  33.000         3     no  southeast     4449.462
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest    3866.8552

In [21]:
data_set.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

# **Data transformation**

In [22]:
data_set['region'] = data_set['region'].replace('southwes', 'southwest')
cols = ['smoker', 'region']
new_data_set = pd.get_dummies(data_set, columns=cols, drop_first=True)
new_data_set.head()

,age,sex,bmi,children,charges,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,female,27.900,0,16884.924,1,0,0,1
1,18,male,33.770,1,1725.5523,0,0,1,0
2,28,male,33.000,3,4449.462,0,0,1,0
3,33,male,22.705,0,21984.47061,0,1,0,0
4,32,male,28.880,0,3866.8552,0,1,0,0

Data set for model
Using the age, bmi, smoker_yes columns

In [23]:
X_smoker = new_data_set[['age', 'bmi', 'smoker_yes']]
y_smoker = new_data_set['charges']

Data set for model
Using the age, bmi, region southwest columns

In [24]:
X_region = new_data_set[['age', 'bmi', 'region_southwest']]
y_region = new_data_set['charges']

Create smoker model

In [25]:
X_train_s, X_test_s, y_train_s, y_test_s = train_test_split(X_smoker, y_smoker, test_size = 0.2)

Create region model

In [26]:
X_train_r, X_test_r, y_train_r, y_test_r = train_test_split(X_region, y_region, test_size = 0.2)